.article{
    background-image: url("../assets/img/Left.png");
    background-position: center center;
    min-height: 100vh;
}
.articlecontent{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: justify;
}
.articlecontent img{
    width:145px;
    height: 145px;
}
.title{
    text-align: center;
}
.article h1{
    display: inline-block;
    background-image: url("../assets/img/Brush.png");
    background-position: center center;
    background-size: cover;
    padding:15px 0;
    color: #257BC4;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0 40px 0;
}
.flex{
    display: flex;
    gap: 15px;
    padding:15px 0;
}
.left{
    width:60%;
}
.right{
    width: 40%;
}
.margintop{
    margin-top: 15px;
}
.marginbottom{
    margin-bottom: 10px;
}
@media all and (max-width:768px){
    .flex{
        flex-direction: column;
    }
    .left{
        width:100%;
    }
    .right{
        width: 100%;
    }
    .articlecontent img{
       padding:10px;
    }
}