.logo{
    text-align: center;
    padding: 20px 0;
}
.singlepage{
    background-image:url("../assets/img/Left.png");
    background-position: center center;
    min-height: 100vh;
}
.singlepagecontent{
    background-color: #FFFFFF;
    width: 90%;
    margin:0 auto;
    height: 100vh;
    padding: 20px;
}
.singlepagecontent h2{
    color:#257BC4;
    text-transform: capitalize;
    font-size: 30px;
}
.singlepagecontent h4{
    margin-bottom: 10px;
    font-size: 20px;
}
.margin{
    margin-top: 25px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 50px;
    padding:50px ;
}
.flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.card{
    border: 3px solid #FB7B2D;
    border-radius: 8px 8px 57px 8px;
    box-sizing: border-box;
    border-image-slice: 30 30% 45;
    padding:20px;
    margin-top:30px;
}
.ability{
    text-transform: capitalize;
    margin:4px 0;
}
.flex2{
    display: flex;
    gap: 15px;
}
.grass{
    background-color: #9BCC50;
    color: #FFFFFF;
}
.poison{
    background-color: #B97FC9;
    color: #FFFFFF;
}
.fire{
    background-color: #FC7C23;
    color: #FFFFFF;
}
.bug{
    background-color: #729F3F;
    color:#FFffff;
}
.water{
    background-color: #4592C4;
    color:#FFffff;
}
.flying{
    background-color: #30A7D7;
    color: #FFFFFF;
}
.height, .exp {
    margin-bottom: 20px;
}
.pill{
    padding:3px 10px;
    border-radius: 3px;
}
.move_0{
    background-color: #FC7C23;
    color: #FFFFFF;
    text-transform: capitalize;
}
.move_1{
    background-color: #B97FC9;
    color: #FFFFFF;
    text-transform: capitalize;
}
.move_2{
    background-color: #729F3F;
    color: #FFFFFF;
    text-transform: capitalize;
}
.blue{
    background-color: #30A7D7;
    max-width: 100%;
}
.lightgrey{
    background-color: #D9D9D9;
    margin-bottom: 15px;
    max-width: 100%;
}
.statsheading{
    margin:7px 0;
}
.btncontainer{
    text-align: center;
    padding: 20px 0;
}
.btn{
    background-color: #FFCB05;
    color: white;
    border:none;
    padding:8px 15px;
    cursor: pointer;
}
.icon{
   margin-right: 5px;
   padding-top: 4px;
   display: inline-block;
}
@media all and (max-width:768px){
    .grid{
        grid-template-columns: repeat(1,1fr);
      
    }
}
